{% extends 'base.html' %}


{% block title %} Search {% endblock %}

{% block script %}

    function find_movie(){
        let word = $("#input-word").val();

        if(word) {
            window.location.href=`/search/${word}?status_give=new`
        } else {
            alert("영화 제목을 입력해주세요!")
        }
    }

    function godb(item){
        let title = item['title'];
        let image = item['image'];
        let pubDate = item['pubDate'];
        let actor = item['actor'];
        let director = item['director'];
        let desc = item['desc'];
        let genre = item['genre']
        alert("추가완료 ")
        $.ajax({
            type: "POST",
            url: "/search/save",
            data: {
                title_give: title,
                image_give: image,
                pubDate_give: pubDate,
                actor_give: actor,
                director_give: director,
                desc_give: desc,
                genre_give: genre
            },
            success: function (response) {
                alert(response['msg']);
                window.location.href=`/`
            }
        });
    }

    function sign_out() {
        $.removeCookie('mytoken', {path: '/'});
        alert('로그아웃!')
        window.location.href = "/login"
    }

{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">

{% endblock %}

{% block usercontent %}
    <span><span style="color: orangered; font-weight: bold;">{{ user_info.username }}</span>님</span>
    <div class="button level-item has-text-centered is-sparta is-outlined" aria-label="logout" onclick="sign_out()">
    로그아웃&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-sign-out" aria-hidden="true"></i></span></div>
{% endblock %}

{% block content %}
    <h1 style="color: darkorange; font-weight: bold; font-size: 25px; text-align: center;"> 영화를 추천해주세요 <i class="fa fa-film" aria-hidden="true"></i></h1>
    <hr></hr>
    <p class="important">

    <div class="form-group">
        <label for="post-url" style="color: darkorange; font-weight: bold;"> 영화 제목을 넣어주세요 </label>
        <input id="input-word" class="form-control" placeholder="">
    </div>
    </p>
    <button type="button" class="btn btn-secondary" style="background-color: orangered; border-color: orangered;" onclick="find_movie()"> 영화 찾기
        <i class="fa fa-search" aria-hidden="true"></i></button>

{% endblock %}


{% block content2 %}
    {% if result %}
    <div class="container">

        {%  for  item  in result['items'] %}
        <div class="container">
         <h1 id="word" style="display: inline;"> {{ item.title |safe}}  </h1>
         <div class="box-wrap">
            <div class="box" >
                <div>
                     <img src="{{item.image}}" style=" width: 170px; height: 180px" class="movie-img" />
                </div>
             <button type="button" class="btn btn-secondary" onclick="godb({{ item }})"> 추가하기
             <i class="fa fa-plus" aria-hidden="true"></i></button>

            </div>
            <div class="box" >
                       <h3 id="word" style="display: inline;">  출시년도 : {{  item.pubDate |safe}} </h3>
                <hr>
                        <h3 id="word" style="display: inline;">  감독: {{  item.director|safe }} </h3>
                <hr>
                <h4 id="word" style="display: inline;">   배우 :{{  item.actor|safe }} </h4>
             </div>
        </div>
            <div class="desc">
               <h4 id="word" style="display: inline;">   줄거리 :{{ item.desc|safe }}  </h4>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}
{% endblock %}






